/* Importing free fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Customising the style of h1 headings */
h1 {
  font-family: 'Anton', sans-serif;
  font-size: 72px;
  color: #fff;
}

body {
  background: -webkit-linear-gradient(0deg, #0085C7, #F4C300, #000000, #009F3D, #DF0024);
}

/* Customising the background colour of class type well */

.well {
  font-family: 'Anton', sans-serif;
  background: -webkit-linear-gradient(90deg, #0085C7, #F4C300, #000000, #009F3D, #DF0024);
  font-size: 24px;
  color: #fff;
  text-align: center;
  height: 200px;
}

.checkbox-inline, .radio-inline {
  text-align: center;
}


/* Customising the background colour of the dropdown */

.selectize-dropdown-content{
  background-color: #f4abaa;
  
}

/* Customising the style of the specific Olympic link */

a[href="https://www.Olympic.org/"] {
  color: #2a3166;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}